body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-image: url("../images/Joliecarte_com.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  height:60vh;
}

nav {
background: #34495e82;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 59px;
    align-items: center;
    gap:60px
}


nav a { 
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition-duration: 0.8s, 0.8s;
  font-size: 20px;  

}

nav a:hover {
 transform: translateY(-12px) scale(1.04);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.img_one{
    background-image: url("../images/download.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}
.img_two{
    background-image: url("../images/download2.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}
.img_three{
    background-image: url("../images/download3.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}
.content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

footer {
  background: #34495e82;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.bank_address{
  word-wrap: break-word;
  width:250px
}
