body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  height:60vh;
}


nav {
background: #d8d2c694;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 59px;
    align-items: center;
    gap:60px
}


nav a { 
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition-duration: 0.8s, 0.8s;
  font-size: 20px;  

}
.intro_blk{
  display: flex;
  gap:40px;
  padding: 35px;
    background: #adb29ba1;
    margin-top: 20px;;
    border-radius: 21px;
}
.intro_ img{
  max-width: 240px;
  height:auto
}
.intro_txt p{
padding:0px;
margin:0px;
font-size: 24px;
    font-family: math;
}
nav a:hover {
 transform: translateY(-12px) scale(1.04);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    background: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.img_one{
    background: #f1b427;
    background-size: cover;
    background-position: center;
    height: 250px;
      display: flex;
    justify-content: center;
    font-size: 30px; 
    font-weight: bolder;
        font-family: cursive;
    color: antiquewhite;
}
.img_two{
    background: purple;
    background-size: cover;
    background-position: center;
    height: 250px;
     display: flex;
    justify-content: center;
    font-size: 30px; 
    font-weight: bolder;
        font-family: cursive;
    color: antiquewhite;
}
.img_three{
    background:#6be66b;
    background-size: cover;
    background-position: center;
    height: 250px;
     display: flex;
    justify-content: center;
    font-size: 30px; 
    font-weight: bolder;
        font-family: cursive;
    color: antiquewhite;
}
.content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

footer {
  background: #34495e82;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
.bank_address{
  word-wrap: break-word;
  width:250px
}
.welcome_msg{
  color:#a52a2a91;
}
.lead_blk{
background: url('../images/Diseños.jpg');
display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    height: 79vh;
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.lead_blk h1{
  display: flex;
    justify-content: center;
        background: #d4d2cfa6;
        margin: 20px;
    padding: 20px;
}
.name_{
  font-size: 20px;
  font-weight: bolder;
  font-size: 30px;
    font-weight: bolder;
    width: 29%;
    background: #dbdad6ba;
    border-radius: 20px;
}
.church_{
  font-size: 24px;
    font-family: math;
}
.pastors_blk{
  margin:20px;
  padding:20px
}

@media  (min-width: 769px) {
  header{
        max-height: 300px;
    height: 100vh;
    width: 100%;
  }
}
